$primary-purple-dark: #54358E;
$primary-purple:#5F3CA1;
$primary-purple-light: #744EBB;
$secondary-green: #4DCBD3;
$secondary-yellow: #FFBF00;
$secondary-pink: #FF3B93;
$secondary-green-light: #00FF84;
$gray-01: #453F51;
$gray-02: #5E5570;
$gray-03: #ffffff;